<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Word Count</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/CSS.css">
  </head>
  <body>
    <h2>Word Counter!</h2>
    
    <div id='cen' class="col-12 pb-3" >
    <form action="counter" method="POST"> {% csrf_token %}
      <div class="form-group">
        <h3>Your text goes here </h3>
      <textarea class="form-control" placeholder="Paste you're text here!"
            name="texttocount" id="text1" rows="11" cols='33' >{{text}}</textarea>
      </div>
      
      <!-- ads section end -->
      <div class="form-group text-center">
      <button type="submit" class="btn btn-primary w-25" >Run Counter</button>
      </div>
    </form>
    </div>
    {% if i %}
    <div class="mb-2">
    <div class="card-header">
      <h3>Word's in that text : {{word}} </h3>
    
    
    </div>
    </div>
    {% endif %}
    
    <script src="" async defer></script>
  </body>
</html>